* {

    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;;
}

.cl-blue-secondary {
    color: $Blue-secondary !important;
}

.bg-blue-secondary {
    background-color: $Blue-secondary!important;
}

.cl-red-primary {
    color: $Red-primary !important;
}
.bg-red-primary {
    background-color: $Red-primary!important;
}

.container-anpha {
    padding: 0 12px;
    margin: 0 auto;

    @include min-width-1200 {
        max-width: 1140px !important;
        ;
    }

    @include min-width-1440 {
        max-width: 1320px !important;
        ;
    }
}

button, input {
    box-shadow: none !important;
}