h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    @include max-width-576 {
        font-size: 30px !important;
        line-height: 36px !important;
    }
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    @include max-width-576 {
        font-size: 26px !important;
        line-height: 29px !important;
    }
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    @include max-width-576 {
        font-size: 23px !important;
        line-height: 26px !important;
    }
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    @include max-width-576 {
        font-size: 19px !important;
        line-height: 22px !important;
    }
}

h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    @include max-width-576 {
        font-size: 16px !important;
        line-height: 19px !important;
    }
}

p {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    @include max-width-576 {
        font-size: 14px !important;
        line-height: 18px !important;
    }
}

.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: $Text;
}

ul {
    padding: 0px;
    list-style-type: none;
}