.createpost {
    .setting-btn{
        @include createButton(12px, 24px, white, #00b074, #00b074);
        border: none;
        width: 100%;
    }
    &__content{
        padding: 30px;
        label {
            margin-bottom: 0.5rem;
            display: block;
            font-size: 1.375rem;
            line-height: 1.625;
            letter-spacing: -.08px;
            font-weight: 600;
            color: #2b3940;
        }
    
        input,textarea,select,option {
            width: 100%;
            padding: 0.75rem 0.9375rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.88;
            color: #6b6e6f;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e5e5e5;
            border-radius: 0.3125rem;
            outline: none;
        }
        input{
            height: 3rem;
        }
        .btn-contact{
            margin-top: 1rem;
            width: 100%;
            @include createButton(12px, 24px, white, #00b074, #00b074);
            text-transform: uppercase;
            border: none;
        }
        
    }
}