#footer {
    border-top: 2px solid #C3C3C3;
    .lp-location, .lp-phone, .lp-email, .lp-arrow-right{
        color: $Grey;
    }

    img {
        @include min-width-1200 {
            width: 80%;
        }

    }
    @include max-width-1200{
        a:has(img) {
            display: grid;
            place-items: center;
        }
    }

    li {
        font-size: 32px;
    }

    .copyright {

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 80%;
            bottom: 0;
            width: 360%;
            background: $Blue-secondary;
            z-index: -1;
        }

        .container-anpha {
            background-color: $Blue-secondary;
            border-radius: 0px 60px 0px 0px;
        }
    }
}