.color-red{
    color: red;
}
.modal-body{
    padding: 0;
}
.modal-dialog{
    max-width: fit-content;
}
.modal-content{
width: fit-content;
height: fit-content;
}
.left-content{
    background-color: #19191b;
    
}
.right-content{
    display: grid;
    place-items: center;
    width: 800px;
    height: 800px;
}