.modal-body {
    padding: 0;
}

.modal-dialog {
    display: grid;
    place-items: center;
    height: 100%;
}

.modal-content {
    border-radius: 16px;
}

.left-content {
    background-color: #2b3940;
    padding-top: 30px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    @include max-width-768{
        display: none;
    }

    &__introduction {
        &>p:first-child {
            font-size: 2.125rem;
            letter-spacing: -.34px;
            font-weight: 700;
            padding-bottom: 18px;
        }

        &>p:nth-child(2) {
            font-size: 1rem;
            line-height: 1.625;
            letter-spacing: -.08px;
        }

        &__postjob-today,
        &__company {
            &--number {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -.24px;
                padding-bottom: 0px;
                margin-bottom: 4px;
            }

            &--decription {
                font-size: 13px;
                line-height: 2;
                letter-spacing: .26px;
                opacity: .5;
                line-height: 1.4;
            }
        }
    }
}

.right-content-for-login {
    display: grid;
    place-items: center;
    height: auto;
    svg{
        user-select: none;
        margin-bottom: 1rem;
        @include max-width-768{
            width: 80%;
        }
    }

    &__common {
        width: 100%;
        &__content{
            .block-name--firstname{
                padding-right: 20px;
            }
            label{
                display: block !important;
                font-size: 1rem;
                line-height: 1;
                letter-spacing: -.08px;
                font-weight: 600;
                color: #2b3940;
                
            }
    
            .form-input {
                height: 3rem;
                padding: 0.75rem 0.9375rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.88;
                color: #6b6e6f;
                border-radius: 4px;
                border: solid 1px #6b6e6f;
                box-shadow: none;
                width: 100%;
            }
            .form-input:focus-visible{
                outline: none;
            }
        }
        .visible-password{
            position: absolute;
            top:calc(1rem - 3px);
            right: 1rem;
            .eyeopen{
                display: none;
            }
            .eyeclose{
                display: none;
            }
            .visible{
                display: inline-block !important;
            }
        }
    }
}

.form-label {
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: #2b3940
}

.btn-go-to-home,.btn-findjob {
    width: 100%;
    min-width: 160px;
    height: 48px;
    line-height: 36px;
    color: #fff;
    background-color: #00b074;
    border: solid 2px#00b074 !important;;
}

.btn-go-to-home:hover,.btn-findjob:hover {
    color: #00b074 !important;
    background-color: white !important;
}
.btn-close-login, .btn-findFreelancer{
    width: 100%;
    min-width: 160px;
    height: 48px;
    line-height: 36px;
    color: white;
    background-color: #c23737;
    border: solid 2px #c23737!important;
}
.btn-close-login:hover,.btn-findFreelancer:hover {
    color: #c23737 !important;
    background-color: white !important;
}

.login-btn {
    @include createButton(12px, 24px, #2b3940, transparent, transparent);
    text-transform: uppercase;

    &:hover{
        width: 99.56px;
        height: 50px;
        background-color: transparent !important;
        border: none !important;
        color: #2b3940 !important;
    }
}