.content{
    background-color: white;
}
.category {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    &__header {
        margin-bottom: 4.375rem;
        display: grid;
        place-items: center;

        &>h2 {
            font-size: 3rem;
            line-height: 1.25;
            letter-spacing: -.48px;
            font-weight: 700;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            text-align: center;
            color: #2b3940;
        }

        &>p {
            padding: 0rem 1.875rem;
            margin-bottom: 1rem;
            font-size: 1.125rem;
            line-height: 1.66;
            letter-spacing: -.09px;
            text-align: center;
            max-width: 540px;


        }
    }

    &__list {
        &__items {
            padding: 0px 16px;
            display: grid;
            place-items: center;
            text-align: center;

            &>a {
                width: 100%;
                border-radius: 10px;
                border: 1px solid #ccc;
                background-color: #fff;

                &>div {
                    padding: 32px 6px 12px 6px;

                }
            }

            &--icon {
                margin: 0px auto 20px auto;
                font-size: 1.5rem;
                line-height: 1.5;
                letter-spacing: -.24px;
                border-radius: 10px;
                max-width: 70px;
                min-width: 70px;
                max-height: 70px;
                min-height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f71e3f !important;
            }

            &--header {
                font-size: 1.125rem;
                line-height: 1.66;
                letter-spacing: -.09px;
                font-weight: 600;
                color: #2b3940 !important;
                margin-bottom: 0.5rem;
            }

            &--decription {
                font-size: 1rem;
                line-height: 1.625;
                letter-spacing: -.08px;
                color: #6b6e6f;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
    }

    &--explore {
        margin-top: 52px;
        text-transform: uppercase;
        @include createButton(12px, 32px, #2b3940, none, #2b3940);
        border: 1px solid;
    }
}