.profileuser__overview {
    &__about--heading {
        font-size: 1.75rem;
        line-height: 1.62;
        letter-spacing: -.21px;
        color: #2b3940;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__about--decription {
        font-size: 1rem;
        line-height: 1.8;
        letter-spacing: -.08px;
        color: #2b3940 !important;
    }

}