.profileuser {
    padding-top: 7.5rem;
    position: relative;
    .sticky{
        position: sticky;
        top: 20px;
        margin-bottom: 16px;
        height: fit-content;
    }
    .profileuser-content{
        padding: 30px;
        background-color: white;
        border-radius: 20px;
        &__contact {
            margin-top: 2rem;
    
            &--heading {
                text-align: center;
                font-size: 1.75rem;
                line-height: 1.62;
                letter-spacing: -.21px;
                color: #2b3940;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
    }
}