.tasklist {
    width: 100%;

    h4 {
        font-weight: 700;
        color: #2b3940;
        margin: 0px;
        font-size: 20px;
        padding-left: 16px;
    }

    &__content {
        width: 100%;
        padding: 20px 30px 40px 30px;
        background-color: white;

        &__table {
            width: 100%;

            &>table {
                width: 100%;

                &>thead {
                    &>tr {
                        &>th {
                            font-size: 1.25rem;
                            line-height: 1.625;
                            letter-spacing: -.08px;
                            color: #2b3940;
                            text-transform: uppercase;
                        }
                    }
                }

                &>tbody {
                    border: solid 1px #c7cdd1;


                    &>tr {
                        padding-left: 1rem;
                        padding-right: 1rem;

                        th,
                        td,
                        a {
                            padding-top: 0.2rem;
                            padding-bottom: 0.2rem;
                            font-size: 1.1rem;
                            line-height: 1.625;
                            letter-spacing: -.08px;
                            font-weight: 600;
                            color: #2b3940;
                        }

                        a {
                            font-weight: 700;
                        }

                        td {
                            opacity: 0.8;

                            .btn-delete-task {
                                background-color: white;
                                font-weight: 600;
                                border: none;
                                text-transform: uppercase;
                                font-size: 1.1rem;

                                &:hover {
                                    background-color: white;
                                }
                            }

                            .btn-delete-task {
                                color: rgb(206, 50, 50);

                                &:hover {
                                    color: rgb(206, 50, 50);
                                }
                            }
                        }
                    }
                }
            }
        }

        &__addtask {
            border: solid 1px #d9dcdd;

            label {
                margin-bottom: 0.5rem;
                display: block;
                font-size: 1.375rem;
                line-height: 1.625;
                letter-spacing: -.08px;
                font-weight: 600;
                color: #2b3940;
            }

            input {
                width: 100%;
                padding: 0.75rem 0.9375rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.88;
                color: #6b6e6f;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #e5e5e5;
                border-radius: 0.3125rem;
                outline: none;
            }

            .btn-add-task {
                margin-top: 1rem;
                width: 100%;
                @include createButton(12px, 24px, white, #00b074, #00b074);
                text-transform: uppercase;
                border: none;
            }
        }
    }
}