
    .userdetail-block{
        border-radius:20px;
        padding-top: 2.5rem;
        position: relative;
        background-color: #f2f2f2;
        .sticky{
            position: sticky;
            top: 20px;
            margin-bottom: 16px;
            height: fit-content;
        }
        .userdetail-block-content{
            padding: 30px;
            background-color: white;
            border-radius: 20px;
            &__contact {
                margin-top: 2rem;
        
                &--heading {
                    text-align: center;
                    font-size: 1.75rem;
                    line-height: 1.62;
                    letter-spacing: -.21px;
                    color: #2b3940;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
            }
        }
    }