.jobitems {
    width: 100%;
    margin-bottom: 24px;
    padding: 30px;
    max-width: 54rem;
    background-color: white;
    border-radius: 0.625rem;
    
    &--avatar {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-right: 1rem;
    }
    
    &__headinfomation {
        &--header {
            text-align: start;
            font-size: 1.3125rem;
            line-height: 1.62;
            letter-spacing: -.21px;
            color: #2b3940;
            font-weight: 700;
        }
        
        &--decription {
            text-align: start;
            font-size: 13px;
            margin-bottom: 1rem;
            letter-spacing: .26px;
            color: #2b3940;
            opacity: .8;
            @include webkit-box(2);
        }
    }

    &__price {
        display: flex;
        justify-content: center;
        &--number {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.5;
            letter-spacing: -.24px;
            color: #adb4b7;

            span {
                color: #2b3940;
            }
        }
    }

    &--category {
        padding: 8px 16px;
        font-size: 13px;
        line-height: 2;
        letter-spacing: .26px;
        min-width: 96px;
        font-weight: 500;
        background-color: rgba(66, 233, 155, 0.3);
        border-radius: 6px;
    }
    &--timeforjob{
        display: flex;
        justify-content: center;
        font-size: 13px;
        line-height: 2;
        letter-spacing: .26px;
        color: #2b3940;
    }
}